@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply min-h-screen selection:bg-purple-500 selection:text-white;
    @apply bg-neutral-100 text-slate-900;
    @apply dark:bg-slate-900 dark:text-slate-100;
    @apply transition-colors duration-300 ease-in-out;
  }
}

html.dark {
  color-scheme: dark;
}